
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  height: 100vh;
  flex: 1;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
